---
layout: base
---

<!-- LINKS -->
<div class="mt-8 w-full px-4 mx-auto text-center">
  {% for link in links %}
    <a href="{{ link.url }}" class="block w-full flex justify-center items-center font-medium {{ settings.colors.btnBorder | default('border-gray-300',true) }} border-2 mb-4 pt-4 pb-4 {{ settings.colors.btnLink | default('text-gray-300',true) }} {{ settings.colors.btnBackground | default('bg-gray-700',true) }} rounded-lg focus:outline-none sm:hover:{{ settings.colors.btnHover | default('bg-gray-600',true) }}">
      {% if link.icon %}
        <div class="icon">
          <div id="icon-{{ link.id }}"></div>
          <script>
            var animation = bodymovin.loadAnimation({
              container: document.getElementById('icon-{{ link.id }}'),
              path: '{{ link.icon | safe }}',
              renderer: 'svg',
              loop: true,
              autoplay: true,
              name: "Demo Animation"
            });
          </script>
        </div>
      {% endif %}
      {{ link.text }}
    </a>
  {% endfor %}
</div>

<!-- Shop -->
{% if shop.length > 0 %}
<h2 class="mt-8 font-df text-2xl lg:text-4xl text-center text-df-tan">From the Shop</h2>
<div class="mt-4 w-full px-4 mx-auto text-center">
  <ul class="grid md:grid-cols-2 gap-8">
  {% for item in shop %}
    <li>
      <a class="font-base text-base" href="{{ item.url }}">
        <div class="z-10 relative aspect-video mb-2 overflow-hidden">
          {% image item.image, item.name, "(min-width: 30em) 50vw, 100vw" %}
          <div class="w-32 text-center pt-1 text-lg pb-10 absolute -right-12 -bottom-4 bg-black font-df -rotate-45">
            £{{ item.price }}
          </div>
        </div>
        <div class="relative z-20">{{ item.name }}</div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}
<!-- ==================================================== -->
